.tours {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-left: 15%;
  padding-bottom: 150px;
}
.tourimage {
  width: 300px;
  height: 400px;
  position: relative;
}
.tourdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.tourname {
  font-size: 35px;
}
.tourdesc {
  max-width: 800px;
  color: rgb(80, 76, 76);
}
.link {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}
.link {
  font-size: 25px;
  text-decoration: underline;
  cursor: pointer;
}
.link > span {
  display: flex;
  align-items: center;
}
.link > span > svg {
  opacity: 0;
  transform: translateX(0%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.link:hover > span > svg {
  opacity: 1;
  transform: translateX(20%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
@media screen and (max-width: 935px) {
  .tours {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0%;
    margin-inline: 10px;
  }
  .tourdetails {
    align-items: center;
    text-align: center;
  }
  .link {
    justify-content: center;
  }
}
