.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.user {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
}
.userimage {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.userdetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 45px;
}
.userdetails > div:nth-child(1) {
  font-size: 17px;
}
.userdetails > div:nth-child(2) {
  color: grey;
  font-size: 15px;
}
.review {
  font-size: 17px;
}
