.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
}
.image {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
}
