.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 10px;
}
.container > input {
  height: 46px;
  width: 300px;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  border: 1px solid #e1e1e1;
  margin-bottom: 3px;
  border-radius: 4px;
}
.container > input:focus {
  outline: none;
  border: 2px solid var(--main-color);
}
.container > button {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  max-width: 100px;
  width: 98%;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  background: var(--normal-color);
  outline: none;
  color: white;
  cursor: pointer;
}
.container > p:nth-child(4) {
  height: 15px;
  color: var(--main-color);
}
.container > span {
  cursor: pointer;
  text-decoration: underline;
}
.goback {
  cursor: pointer;
  text-decoration: underline;
  padding-left: 10px;
}
