.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 81px);
  width: 100%;
}
.leftsection {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
  border-right: 1px solid #eaeaea;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #d8d7d7;
  border-radius: 10px;
  height: 50px;
  outline: none;
  padding: 10px;
  background: white;
  margin-right: 20px;
}
.rightsection {
  width: 65%;
  height: 100%;
  position: relative;
}
.hotels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.loading {
  position: absolute;
  top: 50%;
  right: 50%;
}
.leftsection::-webkit-scrollbar {
  width: 0.2rem;
}
.leftsection::-webkit-scrollbar-thumb {
  background-color: var(--normal-color);
  border-radius: 50px;
}
.leftsection::-webkit-scrollbar-track {
  background-color: white;
}
.showbutton {
  display: none;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 4%;
  right: 1%;
  z-index: 3;
  border: none;
  outline: none;
  background: var(--normal-color);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.filteroptions {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  overflow-y: scroll;
  width: 500px;
  max-height: 500px;
}
.filteroption {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}
.filteroption > span {
  font-size: 20px;
}
.staroptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.amenities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 20px;
}
.filterbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterbutton > button {
  border: none;
  outline: none;
  color: white;
  width: 200px;
  background: var(--normal-color);
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.pricerange {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}
.prices {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 935px) {
  .container {
    height: calc(100dvh - 81px);
  }
  .showbutton {
    display: flex;
  }
  .leftsection[show-state="true"] {
    display: flex;
  }
  .leftsection[show-state="false"] {
    display: none;
  }
  .rightsection[show-state="true"] {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .rightsection[show-state="false"] {
    display: none;
  }
  .loading {
    top: 90%;
  }
  .amenities {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .filteroptions {
    width: 400px;
  }
  .staroptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 400px) {
  .filteroptions {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .filteroptions {
    width: 300px;
  }
}
