.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--secondary-color);
  color: white;
  border-radius: 5px;
  transform: scale(1);
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 13px;
  transition: color 200ms ease-in-out, background 200ms ease-in-out,
    border 200ms ease-in-out, transform 250ms ease-in-out;
}
.button:hover {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.button:active {
  transform: scale(0.9);
}
