.svg {
  position: relative;
  width: 30px;
  height: 30px;
  animation: rotate 2s linear infinite;
}
.svg > circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 3;
  stroke: grey;
  stroke-linecap: round;
  transform: translate(2px, 2px);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animate 4s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 160;
  }
}
