.bannerwrapper {
  position: relative;
  height: 600px;
}
.hero {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.searchbar {
  display: flex;
  width: 100%;
  max-width: 1150px;
  margin-top: 150px;
}
@media screen and (max-width: 1280px) {
  .bannerwrapper {
    height: 600px;
  }
}
@media screen and (max-width: 1165px) {
  .searchbar {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .bannerwrapper {
    height: 500px;
  }
  .hero {
    font-size: 0.95rem;
  }
  .searchbar {
    margin-top: 85px;
  }
}
@media screen and (max-width: 768px) {
  .bannerwrapper {
    height: 400px;
  }
  .hero > h1 {
    font-size: 1.25rem;
  }
  .hero {
    font-size: 0.85rem;
  }
  .searchbar {
    margin-top: 65px;
  }
}
@media screen and (max-width: 450px) {
  .hero > h1 {
    font-size: 1rem;
  }
  .searchbar {
    margin-top: 65px;
  }
}
